@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

$color-web: #08A6E4;
$offer-basic-color: #FB3B64;
$offer-pro-color: #07ACE6;
$offer-premium-color: #55DFB4;
$contact-p-color: #A5A5A5;
$display-line-block: inline-block;
$family-raleway: 'Raleway';
$family-open-sans: 'Open Sans';
$blue-shadow: 5px 10px 27px 0px rgba(7, 172, 230, 0.29);
$scale-svg-img-1-5: scale(1.5, 1.5);
$scale-svg-img-2: scale(2, 2);
$scale-offer: scale(1.1, 1.1);

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    min-width: 320px;
}

#header{
    color: $color-web;
    width: 100%;
    height: 10%;
    box-shadow: 0px 3px 6px 0px #0000004A;
    margin-bottom: 100px;
}

.header__title,
.header__icon{
    display: $display-line-block;
    margin: 3% 6%;
}

.header__title{
    width: 50%;
    font-family: $family-raleway;
    font-weight: 300;
    font-size: 32px;
    line-height: 37px;
}

//icono de menu
.header__icon{
    width: 5%;
    height: 5%;
    margin-top: 5%;
    float: right;
    flex-shrink: 0;
}

//lista de menu
.header__list{
    display: none;
}


.header__element{
    margin: 10px 15px;
    color: black;    
    font-size: 11px;
    font-weight: bold;
}

.header__element-link{
    text-decoration: none;
}

#main{
    text-align: center;
}

.main__opening-section{
    width: 70%;
    margin: 10% 15%;
    text-align: center;
}


.opening__section-title{
    font-family: $family-raleway;
    font-size: 35px;
    font-weight: 400;
    line-height: 41px;
}

.opening__section-desc{
    font-family: $family-open-sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    width: 90%;
    margin: 5% 5% 10%;
    flex-shrink: 0;
}

.opening__section-button-open-shop{
    width: 100%;
    height: 30%;
    background-color: $color-web;
    border: none;
    border-radius: 30px;
    box-shadow: 5px 10px 14px 0px #07ACE64A;
    padding: 5%;

    font-family: $family-open-sans;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: white;
}

.main__img{
    width: 100%;
    height: 20%;
    overflow: hidden;
    flex-shrink: 0;
}

.img__background{
    width: 100%;
    height: auto;
    display: block;
}

.main__title-popularity{
    width: 70%;
    margin: 0% 15%;
    font-family: $family-raleway;
    line-height: 35px;
    font-weight: 300;
    font-size: 30px;
    flex-shrink: 0;
}

.main__data{
    width: 50%;
    height: 15%;
    margin: 5% auto;
    text-align: center;
}


.main__data-imgs{
    position: relative;
}

.data__ellipse{
    position: relative;
}

.data__icon-person{
    position: absolute;
    right: 29%;
}

.data__icon-eye{
    position: absolute;
    top: 20%;
    right: 20%;
}

.data__icon-catalog{
    position: absolute;
    top: 10%;
    right: 22%;
}

.data__number{
    font-family: $family-raleway;
    font-size: 20px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 6px;
    width: 80%;
    margin: auto;
    margin-top: 10%;
}

.data__desc{
    color: #A5A5A5;
    font-family: $family-raleway;
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    width: 70%;
    margin: auto;
    flex-shrink: 0;
}

.main__articles{
    width: 100%;
    background-color: #F7F7F7;
    padding: 10%;
    margin-top: 20%;
}

.main__article{
    width: 90%;
    margin: 5% auto 0;
    padding-bottom: 0;
    background-color: white;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
    text-align: left;
}

.article__title{
    width: 80%;
    font-family: "Raleway";
    font-size: 30px;
    font-weight: 400;
    margin: 8% 4% 4%;;
}

.article__desc{
    font-family: $family-open-sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    margin: 5%;
}

.main__article-imgs{
    position: relative;
}

.article__recognition-img{
    width: 90%;
    margin: 0 auto;
    padding: 12% 16% 0 4%;;
    background-color: #55DFB4;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
}

.article__ellipse{
    position: relative;
}

.article__always-ellipse{
    left: 50%;
}

.article__shop-ellipse{
    margin-top: 5%;
    left: 25%;
}

.article__always-img{
    position: absolute;
    z-index: 1;
    top: 25%;
    right: 15%;
}

.article__shop-img{
        position: absolute;
        z-index: 1;
        top: 15%;
        right: 10%;
}



.main__title-pricing{
    font-family: $family-raleway;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 5%;
}

.main__offer{
    margin: 10% auto;
    padding: 2% 3%;
    flex-shrink: 0;
    position: relative;
    
}

.main__offer-basic:hover{
    box-shadow: 5px 10px 27px 0px $offer-basic-color;
    transform: $scale-offer;
    transition: transform 1s;
}

.main__offer-pro:hover{
    box-shadow: $blue-shadow;
    transform: $scale-offer;
    transition: transform 1s;
}

.main__offer-premium:hover{
    box-shadow: 5px 10px 27px 0px $offer-premium-color;
    transform: $scale-offer;
    transition: transform 1s;
}

.offer__model, .offer__adventages{
    display: inline;
}

.offer__model{
    float: left;
}

.offer__price{
    font-family: $family-open-sans;
    font-size: 46px;
    font-style: normal;
    font-weight: 300;
    line-height: 64px;
}

.offer__price-basic{
    color: $offer-basic-color;
}

.offer__price-pro{
    color: $offer-pro-color;
}

.offer__price-premium{
    color: $offer-premium-color;
}

.offer__adventages{
    float: right;
    text-align: left;
}

.adventage{
    position: relative;
    top: 30%;
    margin: 5%;
}

.offer__title{
    font-family: $family-raleway;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    font-style: normal;
}

.main__offer-basic{
    border: 1px solid $offer-basic-color;
    border-radius: 18px;
    height: 220px;
    .offer__adventages{
        width: 60%;
    }

    .adventage{
        margin-top: 10%;
    }

    .offer__model{
        margin-left: 8%;
        margin-top: 20%;
    }

    .offer__button-basic{
        background-color: $offer-basic-color;
        top: 92%;
        left: 25%;
    }
}

.main__offer-pro{
    border: 1px solid $offer-pro-color;
    border-radius: 18px;
    height: 220px;

    .offer__adventages{
        position: relative;
        width: 60%;
        bottom: 70%;
        left: 6%;
    }

    .offer__model{
        margin-left: .5%;
        margin-top: 20%;
    }

    .adventage{
        position: relative;
        top: 30%;
        margin: 10% 5%;
    }

    .offer__button-pro{
        background-color: $offer-pro-color;
        top: 92%;
        left: 25%;
    }
}

.main__offer-premium{
    border: 1px solid $offer-premium-color;
    border-radius: 18px;
    height: 220px;

    .offer__adventages{
        position: relative;
        width: 60%;
        bottom: 35%;
        left: 6%;
    }

    .offer__model{
        margin-left: .5%;
        margin-top: 20%;
    }

    .adventage{
        position: relative;
        top: 30%;
        margin: 10% 5%;
    }

    .offer__button-premium{
        background-color: $offer-premium-color;
        top: 92%;
        left: 25%;
    }
}

.offer__button{
    width: 50%;
    height: 17%;
    border: none;
    border-radius: 23px;
    position: absolute;

    align-content: center;
    font-family: "Open Sans";
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: white;
}

.offer__limited{
    font-family: $family-raleway;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.main__contact-data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    width: 80%;
    margin: 10%;
    
    color: $color-web;
    font-family: $family-open-sans;
    font-size: 11px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 3px;
}

.main__contact-title{
    font-family: $family-raleway;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    float: left;
    margin-left: 15%;
}

.main__contact-desc{
    font-family: $family-open-sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    float: left;
    width: 75%;
    text-align: left;
    margin-left: 15%;
    margin-bottom: 10%;
}

.main__contact-forms{
    color: $contact-p-color;
    font-family: $family-open-sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 22px;
    display: block;
    float: left;
    margin-left: 15%;
    width: 75%;
    text-align: left;
}

.main__contact-forms-tel{
    margin-bottom: 15%;
}

.main__data-input{
    border: none;
    border-bottom: 1px solid #95989A;
    width: 100%;
}

.main__consent-check{
    position: absolute;
    left: 10%;
    border-radius: 4px;
    border: 1px solid #95989A;
}

.main__consent-content{
    display: inline-block;
    width: 70%;
    color: #707070;
    font-family: "Open Sans";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
}

.main__consent-send{
    display: block;
    flex-shrink: 0;
    float: right;
    width: 40%;
    border: none;
    border-radius: 35px;
    background-color: $color-web;
    box-shadow: $blue-shadow;
    margin-top: 10%;
    margin-right: 10%;
    padding: 3%;

    color: white;
    font-family: $family-open-sans;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#footer{
    background: #F7F7F7;
    box-shadow: 0px -5px 40px 0px rgba(0, 0, 0, 0.20);
    height: 10%;
    margin: 40% 0 0;
    padding: 5%;
}

.footer__title,
.footer__rights{
    display: inline-block;
}

.footer__title{
    color: $color-web;
    font-family: $family-raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
}

.footer__rights{
    color: $contact-p-color;
    font-family: $family-open-sans;
    display: block;
    margin-top: 2%;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-content: center;
}

.footer__icon{
    float: right;
    margin-left: 5%;
    margin-top: 1%;
    flex-shrink: 0;
}

//MOBILE VERSION MAX AND MIN WIDTH
@media only screen and (max-width: 1000px){

    .main__data{  
        max-width: 187.5px;
    }
    
    .main__article{
        max-width: 305px;
        //min-width: 377px;
    }

    .main__offer{
        max-width: 275px;
        min-width: 245px;
        
    }

    .article__recognition-img{
        max-width: 303px;
    }
}


//DESKTOP VERSION
@media only screen and (min-width: 1000px){

    //HEADER

    #header{
        width: 100%;
        min-width: 1533px;
    }

    .header__title{
        display: $display-line-block;
        margin: 1% 5%;
    }

    .header__icon{
        display: none;
    }

    .header__list{
        display: inline-block;
        list-style-type: none;
        position: relative;
        left: 13%;
    }

    .header__element{
        display: inline-block;
    }

    .header__element-link{
        text-decoration: none;
        color: $contact-p-color;
        font-family: $family-open-sans;
        font-size: 11px;
        font-weight: 700;
        line-height: 15px;
        letter-spacing: 3px;
        text-transform: uppercase;
    }

    .header__element-link:hover{
        color: black;
    }


    //SECTION OPENING

    .main__opening-section{
        margin-bottom: .5%;
    }

    .opening__section-desc{
        font-family: $family-open-sans;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        width: 90%;
        margin: 1% 5% 3%;
        flex-shrink: 0;
    }

    .opening__section-button-open-shop{
        width: 25%;
        border-radius: 40px;
        box-shadow: 5px 10px 14px 0px #07ACE64A;
        padding-top: 1%;
        padding-bottom: 1%;
    }
    

    .main__title-popularity{
        width: 70%;
        margin: 0% 15%;
        font-family: $family-raleway;
        line-height: 42px;
        font-weight: 400;
        font-size: 36px;
        flex-shrink: 0;
    }

    .main__data{
        max-width: 330px;
        display: inline-block;
        width: 20%;
        margin: 2% 2% 6%;
    }
    .data__icon-person{
        right: 64.3%;
    }

    .data__icon-eye {
        top: 188%;
        right: 48%;
    }

    .data__icon-catalog {
        top: 187.56%;
        right: 32.5%;
    }

//ARTICLES
    .main__articles{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 5%;
    }

    .main__article{
        width: 60%;
        height: 17em;
        margin-bottom: 1%;
        min-width: 1145px;
    }

    .main__article-always{
        .article__title-always{
            display: inline;
            position: relative;
            bottom: 2em;
            margin-left: 4%
        };

        .article__always-img{
            transform: $scale-svg-img-1-5;
            right: 33%;
            top: 337%;
        };

        .article__always-ellipse{
            display: inline-block;
            transform: $scale-svg-img-1-5;
            top: 327%;
            right: 30%;
        };

        .article__desc-always{
            display: inline-block;
            position: relative;
            top: 5em;
            right: 22%;
            margin: 1%;
            width: 14%;
        };
    }

    .main__article-shop{
        .article__title-shop{
            display: inline-block;
            position: relative;
            left: 7em;
            bottom: 2em;
            width: 8em;
        };

        .article__shop-img{
            transform: $scale-svg-img-2;
            right: 11em;
            top: 4em;
        };

        .article__shop-ellipse{
            display: inline-block;
            transform: $scale-svg-img-2;
            position: absolute;
            top: 134em;
            left: 7em;
        };

        .article__desc-shop{
            display: inline-block;
            position: relative;
            left: 55.5em;
            bottom: 7em;
            margin: 1em;
            width: 23em;
        };
    }

    .main__article-recognition{
        background-color: #F7F7F7;
        border: none;

        .article__title-recognition{
            display: inline-block;
            width: 10em;
            font-family: "Raleway";
            font-size: 30px;
            font-weight: 400;
            margin: 2em 4em 1em;
            background-color: white
        };
    
        .article__desc-recognition{
            display: inline-block;
            position: relative;
            right: 31em;
            top: 7em;
            margin: 1em;
            width: 23em;
            background-color: white
        };
    
        .article__recognition-img{
            display: inline-block;
            position: relative;
            left: 41.3em;
            bottom: 6em;
            width: 30em;
        };
    }

//CSS PARA LAS OFERTAS
    .main__offer{
        display: inline-flex;
        flex-direction: row;
        justify-content: space-around;
        width: 24em;
        height: auto;
        padding-top: 2%;
        padding-bottom: 4%;
        margin: 2.5%;

        .offer__title{
            display: block;
            position: relative;
            left: 4em;
        }

        .offer__price{
            display: block;
            position: relative;
            left: 1.7em;
        }

        .offer__limited{
            display: block;
            position: relative;
            left: 7em;
        }

        .offer__adventages{
            height: auto;
            position: relative;
            text-align: center;
            top: 6em;
            margin-bottom: 8em;

            .adventage{
                width: 175%;
            }
        }

        .offer__adventages-pro{
            right: 1.5em;
        }

        .offer__adventages-premium{
            right: 1.3em;
        }

        .offer__button{
            display: block;
            position: relative;
            top: 24em;
            left: -6.5em;
            width: 10em;
            padding-top: 1em;
            padding-bottom: 1em;
        }
    }


    //CONTACT
    .main__contact-title{
        position: absolute;
        left: 15%;
        margin-top: 5%;
        font-size: 49px;
    }

    .main__contact-desc{
        position: relative;
        top: 11em;
        left: 15%;
    }

    .main__contact-forms{
        display: inline;
        position: relative;
        left: 15%;
        width: auto;
    }
    .main__contact-forms-tel{
        margin-left: 2em;
    }

    .main__contact-data{
        display: inline-block;
        width: 452px;
        position: relative;
        top: -30em;
        text-align: left;
        margin-bottom: 1em;

        .main__data-input{
            margin: 6% 0;
            width: 89%;
        }
    }

    .main__consent-check{
        position: relative;
        top: -20em;
        left: -49em;
    }

    .main__consent-desc{
        position: relative;
        bottom: 27em;
        left: 33em;
        width: 30em;
    }

    .main__consent-send{
        width: 20em;
        padding: 1.5em;
        position: relative;
        right: 30em;
        bottom: 33em;
    }
    
    


    //FOOTER

    #footer{
        height: 8%;
        margin: 4% 0 0;
        padding: 1% 3%;
    }


    .footer__title{
        display: inline-block;
        color: $color-web;
        font-family: $family-raleway;
        font-size: 26px;
        font-style: normal;
        font-weight: 300;
        line-height: 30px;
        margin-bottom: 1%;
    }

    .footer__rights{
        color: $contact-p-color;
        font-family: $family-open-sans;
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        align-content: center;
        display: block;
    }

    .footer__icon{
        float: right;
        margin-left: 2%;
        margin-top: 1.5%;
        flex-shrink: 0;
    }
}