@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 320px;
}

#header {
  color: #08A6E4;
  width: 100%;
  height: 10%;
  box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.2901960784);
  margin-bottom: 100px;
}

.header__title,
.header__icon {
  display: inline-block;
  margin: 3% 6%;
}

.header__title {
  width: 50%;
  font-family: "Raleway";
  font-weight: 300;
  font-size: 32px;
  line-height: 37px;
}

.header__icon {
  width: 5%;
  height: 5%;
  margin-top: 5%;
  float: right;
  flex-shrink: 0;
}

.header__list {
  display: none;
}

.header__element {
  margin: 10px 15px;
  color: black;
  font-size: 11px;
  font-weight: bold;
}

.header__element-link {
  text-decoration: none;
}

#main {
  text-align: center;
}

.main__opening-section {
  width: 70%;
  margin: 10% 15%;
  text-align: center;
}

.opening__section-title {
  font-family: "Raleway";
  font-size: 35px;
  font-weight: 400;
  line-height: 41px;
}

.opening__section-desc {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  width: 90%;
  margin: 5% 5% 10%;
  flex-shrink: 0;
}

.opening__section-button-open-shop {
  width: 100%;
  height: 30%;
  background-color: #08A6E4;
  border: none;
  border-radius: 30px;
  box-shadow: 5px 10px 14px 0px rgba(7, 172, 230, 0.2901960784);
  padding: 5%;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
  color: white;
}

.main__img {
  width: 100%;
  height: 20%;
  overflow: hidden;
  flex-shrink: 0;
}

.img__background {
  width: 100%;
  height: auto;
  display: block;
}

.main__title-popularity {
  width: 70%;
  margin: 0% 15%;
  font-family: "Raleway";
  line-height: 35px;
  font-weight: 300;
  font-size: 30px;
  flex-shrink: 0;
}

.main__data {
  width: 50%;
  height: 15%;
  margin: 5% auto;
  text-align: center;
}

.main__data-imgs {
  position: relative;
}

.data__ellipse {
  position: relative;
}

.data__icon-person {
  position: absolute;
  right: 29%;
}

.data__icon-eye {
  position: absolute;
  top: 20%;
  right: 20%;
}

.data__icon-catalog {
  position: absolute;
  top: 10%;
  right: 22%;
}

.data__number {
  font-family: "Raleway";
  font-size: 20px;
  font-weight: 800;
  line-height: 24px;
  letter-spacing: 6px;
  width: 80%;
  margin: auto;
  margin-top: 10%;
}

.data__desc {
  color: #A5A5A5;
  font-family: "Raleway";
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  width: 70%;
  margin: auto;
  flex-shrink: 0;
}

.main__articles {
  width: 100%;
  background-color: #F7F7F7;
  padding: 10%;
  margin-top: 20%;
}

.main__article {
  width: 90%;
  margin: 5% auto 0;
  padding-bottom: 0;
  background-color: white;
  border: 1px solid #E8E9ED;
  border-radius: 5px;
  text-align: left;
}

.article__title {
  width: 80%;
  font-family: "Raleway";
  font-size: 30px;
  font-weight: 400;
  margin: 8% 4% 4%;
}

.article__desc {
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
  margin: 5%;
}

.article__line {
  display: none;
}

.main__article-imgs {
  position: relative;
}

.article__recognition-img {
  width: 90%;
  margin: 0 auto;
  padding: 12% 16% 0 4%;
  background-color: #55DFB4;
  border: 1px solid #E8E9ED;
  border-radius: 5px;
}

.article__ellipse {
  position: relative;
}

.article__always-ellipse {
  left: 50%;
}

.article__shop-ellipse {
  margin-top: 5%;
  left: 25%;
}

.article__always-img {
  position: absolute;
  z-index: 1;
  top: 25%;
  right: 15%;
}

.article__shop-img {
  position: absolute;
  z-index: 1;
  top: 15%;
  right: 10%;
}

.main__title-pricing {
  font-family: "Raleway";
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 5%;
}

.main__offer {
  margin: 10% auto;
  padding: 2% 3%;
  flex-shrink: 0;
  position: relative;
}

.main__offer-basic:hover {
  box-shadow: 5px 10px 27px 0px #FB3B64;
  transform: scale(1.1, 1.1);
  transition: transform 1s;
}

.main__offer-pro:hover {
  box-shadow: 5px 10px 27px 0px rgba(7, 172, 230, 0.29);
  transform: scale(1.1, 1.1);
  transition: transform 1s;
}

.main__offer-premium:hover {
  box-shadow: 5px 10px 27px 0px #55DFB4;
  transform: scale(1.1, 1.1);
  transition: transform 1s;
}

.offer__model, .offer__adventages {
  display: inline;
}

.offer__model {
  float: left;
}

.offer__price {
  font-family: "Open Sans";
  font-size: 46px;
  font-style: normal;
  font-weight: 300;
  line-height: 64px;
}

.offer__price-basic {
  color: #FB3B64;
}

.offer__price-pro {
  color: #07ACE6;
}

.offer__price-premium {
  color: #55DFB4;
}

.offer__adventages {
  float: right;
  text-align: left;
}

.adventage {
  position: relative;
  top: 30%;
  margin: 5%;
}

.offer__title {
  font-family: "Raleway";
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  font-style: normal;
}

.main__offer-basic {
  border: 1px solid #FB3B64;
  border-radius: 18px;
  height: 220px;
}
.main__offer-basic .offer__adventages {
  width: 60%;
}
.main__offer-basic .adventage {
  margin-top: 10%;
}
.main__offer-basic .offer__model {
  margin-left: 8%;
  margin-top: 20%;
}
.main__offer-basic .offer__button-basic {
  background-color: #FB3B64;
  top: 92%;
  left: 25%;
}

.main__offer-pro {
  border: 1px solid #07ACE6;
  border-radius: 18px;
  height: 220px;
}
.main__offer-pro .offer__adventages {
  position: absolute;
  width: 60%;
  left: 48%;
  margin-left: 1%;
}
.main__offer-pro .offer__model {
  margin-left: 0.5%;
  margin-top: 20%;
}
.main__offer-pro .adventage {
  position: relative;
  top: 30%;
  margin: 10% 5%;
}
.main__offer-pro .offer__button-pro {
  background-color: #07ACE6;
  top: 92%;
  left: 25%;
}

.main__offer-premium {
  border: 1px solid #55DFB4;
  border-radius: 18px;
  height: 220px;
}
.main__offer-premium .offer__adventages {
  position: absolute;
  width: 60%;
  left: 48%;
}
.main__offer-premium .offer__model {
  margin-left: 0.5%;
  margin-top: 20%;
}
.main__offer-premium .adventage {
  position: relative;
  top: 30%;
  margin: 10% 5%;
}
.main__offer-premium .offer__button-premium {
  background-color: #55DFB4;
  top: 92%;
  left: 25%;
}

.offer__button {
  width: 50%;
  height: 17%;
  border: none;
  border-radius: 23px;
  position: absolute;
  align-content: center;
  font-family: "Open Sans";
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: white;
}

.offer__limited {
  font-family: "Raleway";
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.main__contact-data {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  width: 80%;
  margin: 10%;
  color: #08A6E4;
  font-family: "Open Sans";
  font-size: 11px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 3px;
}

.main__contact-title {
  font-family: "Raleway";
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  float: left;
  margin-left: 15%;
}

.main__contact-desc {
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  float: left;
  width: 75%;
  text-align: left;
  margin-left: 15%;
  margin-bottom: 10%;
}

.main__contact-forms {
  color: #A5A5A5;
  font-family: "Open Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  display: block;
  float: left;
  margin-left: 15%;
  width: 75%;
  text-align: left;
}

.main__contact-forms-tel {
  margin-bottom: 15%;
}

.main__data-input {
  border: none;
  border-bottom: 1px solid #95989A;
  width: 100%;
}

.main__consent-check {
  position: absolute;
  left: 10%;
  border-radius: 4px;
  border: 1px solid #95989A;
}

.main__consent-content {
  display: inline-block;
  width: 70%;
  color: #707070;
  font-family: "Open Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: left;
}

.main__consent-send {
  display: block;
  flex-shrink: 0;
  float: right;
  width: 40%;
  border: none;
  border-radius: 35px;
  background-color: #08A6E4;
  box-shadow: 5px 10px 27px 0px rgba(7, 172, 230, 0.29);
  margin-top: 10%;
  margin-right: 10%;
  padding: 3%;
  color: white;
  font-family: "Open Sans";
  font-size: 13px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

#footer {
  background: #F7F7F7;
  box-shadow: 0px -5px 40px 0px rgba(0, 0, 0, 0.2);
  height: 10%;
  margin: 40% 0 0;
  padding: 5%;
}

.footer__title,
.footer__rights {
  display: inline-block;
}

.footer__title {
  color: #08A6E4;
  font-family: "Raleway";
  font-size: 26px;
  font-style: normal;
  font-weight: 300;
  line-height: 30px;
}

.footer__rights {
  color: #A5A5A5;
  font-family: "Open Sans";
  display: block;
  margin-top: 2%;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  align-content: center;
}

.footer__icon {
  float: right;
  margin-left: 5%;
  margin-top: 1%;
  flex-shrink: 0;
}

@media only screen and (max-width: 1000px) {
  .main__data {
    max-width: 187.5px;
  }
  .main__article {
    max-width: 305px;
  }
  .main__offer {
    max-width: 275px;
    min-width: 245px;
  }
  .article__recognition-img {
    max-width: 303px;
  }
}
@media only screen and (min-width: 1000px) {
  body {
    min-width: 1025px;
  }
  #header {
    width: 100%;
  }
  .header__title {
    display: inline-block;
    margin: 1% 5%;
  }
  .header__icon {
    display: none;
  }
  .header__list {
    display: inline-block;
    list-style-type: none;
  }
  .header__element {
    display: inline-block;
  }
  .header__element-link {
    text-decoration: none;
    color: #A5A5A5;
    font-family: "Open Sans";
    font-size: 11px;
    font-weight: 700;
    line-height: 15px;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
  .header__element-link:hover {
    color: black;
  }
  .main__opening-section {
    margin-bottom: 0.5%;
  }
  .opening__section-desc {
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    width: 90%;
    margin: 1% 5% 3%;
    flex-shrink: 0;
  }
  .opening__section-button-open-shop {
    width: 25%;
    border-radius: 40px;
    box-shadow: 5px 10px 14px 0px rgba(7, 172, 230, 0.2901960784);
    padding-top: 1%;
    padding-bottom: 1%;
  }
  .main__title-popularity {
    width: 70%;
    margin: 0% 15%;
    font-family: "Raleway";
    line-height: 42px;
    font-weight: 400;
    font-size: 36px;
    flex-shrink: 0;
  }
  .main__data {
    max-width: 330px;
    display: inline-block;
    width: 20%;
    margin: 2% 2% 6%;
  }
  .data__icon-person {
    left: 49%;
  }
  .data__icon-eye {
    left: 47%;
  }
  .data__icon-catalog {
    left: 50%;
  }
  .main__articles {
    display: grid;
    grid-template-areas: "always always always" "shop   shop   shop" "recog  recog  img";
    gap: 2%;
    margin-top: 5%;
  }
  .main__article {
    height: 100%;
    max-width: 1353px;
  }
  .main__article .article__line {
    display: block;
  }
  .main__article-always {
    grid-area: always;
    padding: 2%;
  }
  .main__article-always .article__title-always {
    display: inline;
    margin-left: 0;
  }
  .main__article-always .main__article-imgs {
    position: relative;
    display: inline-block;
    left: 50%;
    top: 20%;
  }
  .main__article-always .article__always-img {
    transform: scale(1.5, 1.5);
    right: -170%;
    top: 20%;
  }
  .main__article-always .article__always-ellipse {
    transform: scale(1.5, 1.5);
    left: 215%;
    bottom: 1.5em;
  }
  .main__article-always .article__desc-always {
    display: block;
    width: 30%;
    margin-left: 10.5%;
    margin-top: 2%;
  }
  .main__article-always .article__line {
    border: 2px solid #FB3B64;
    width: 18%;
    margin-left: 10.5%;
  }
  .main__article-shop {
    grid-area: shop;
  }
  .main__article-shop .article__title-shop {
    display: block;
    width: 18%;
    margin-left: 60%;
    margin-bottom: 2%;
    margin-top: 2%;
  }
  .main__article-shop .article__shop-img {
    transform: scale(1.5, 1.5);
    right: 75%;
    top: 5em;
  }
  .main__article-shop .article__shop-ellipse {
    display: inline-block;
    transform: scale(1.5, 1.5);
    position: absolute;
    left: 10%;
  }
  .main__article-shop .article__desc-shop {
    margin: 1%;
    width: 28%;
    margin-left: 60%;
  }
  .main__article-shop .article__line {
    border: 2px solid #07ACE6;
    width: 20%;
    margin-left: 60%;
  }
  .main__article-recognition {
    display: inline-block;
    margin: 8% 7.5% 0;
    max-width: 800px;
    grid-area: recog;
  }
  .main__article-recognition .article__title-recognition {
    width: 35%;
    font-family: "Raleway";
    font-size: 30px;
    font-weight: 400;
  }
  .main__article-recognition .article__desc-recognition {
    margin: 1% 3%;
    width: 40%;
  }
  .main__article-recognition .article__line {
    border: 2px solid #55DFB4;
    width: 30%;
    margin-left: 3%;
    margin-top: 3%;
  }
  .article__recognition-img {
    max-width: 400px;
    position: relative;
    top: 28%;
    right: 13%;
    padding: 25% 16% 0 4%;
    background-color: #55DFB4;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
    grid-area: img;
  }
  .main__offer {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-around;
    width: 18%;
    height: auto;
    padding-bottom: 4%;
    margin: 2.5%;
    min-width: 210px;
    max-width: 356px;
  }
  .main__offer-basic .offer__title {
    display: block;
    position: relative;
    left: 140%;
    bottom: 20%;
  }
  .main__offer-basic .offer__price {
    display: block;
    position: relative;
    left: 140%;
    bottom: 20%;
  }
  .main__offer-basic .offer__adventages {
    height: auto;
    position: relative;
    text-align: center;
    top: 5em;
    right: 40%;
    margin-bottom: 40%;
  }
  .main__offer-basic .offer__adventages .adventage {
    width: 175%;
    margin: 10% 5%;
  }
  .main__offer-basic .offer__button {
    display: block;
    padding-top: 3%;
    padding-bottom: 3%;
    height: 10%;
    top: 95%;
  }
  .main__offer-pro .offer__title {
    display: block;
    position: relative;
    left: 50%;
    bottom: 20%;
  }
  .main__offer-pro .offer__price {
    display: block;
    position: relative;
    left: 50%;
    bottom: 20%;
  }
  .main__offer-pro .offer__limited {
    display: block;
    position: relative;
    left: 50%;
    bottom: 20%;
  }
  .main__offer-pro .offer__adventages {
    height: auto;
    position: relative;
    text-align: center;
    top: 5em;
    left: -45%;
    margin-bottom: 44%;
  }
  .main__offer-pro .offer__adventages .adventage {
    width: 175%;
  }
  .main__offer-pro .offer__button {
    display: block;
    padding-top: 3%;
    padding-bottom: 3%;
    height: 10%;
    top: 95%;
  }
  .main__offer-premium .offer__title {
    display: block;
    position: relative;
    left: 80%;
    bottom: 20%;
  }
  .main__offer-premium .offer__price {
    display: block;
    position: relative;
    left: 80%;
    bottom: 20%;
  }
  .main__offer-premium .offer__limited {
    display: block;
    position: relative;
    left: 80%;
    bottom: 20%;
  }
  .main__offer-premium .offer__adventages {
    height: auto;
    position: relative;
    text-align: center;
    top: 5em;
    left: -45%;
    margin-bottom: 38%;
  }
  .main__offer-premium .offer__adventages .adventage {
    width: 175%;
  }
  .main__offer-premium .offer__button {
    display: block;
    padding-top: 3%;
    padding-bottom: 3%;
    height: 10%;
    top: 95%;
  }
  .info__section {
    display: inline-block;
    width: 30%;
    margin-right: 5%;
  }
  .main__contact-title {
    margin-top: 5%;
    margin-left: 32%;
    font-size: 49px;
  }
  .main__contact-data {
    padding-top: 2%;
  }
  .main__contact-desc {
    display: block;
    margin-top: 4%;
    margin-bottom: 4%;
    margin-left: 32%;
    width: auto;
  }
  .main__contact-forms {
    margin-left: 32%;
    width: auto;
  }
  .main__contact-forms-tel {
    margin-left: 2%;
  }
  .consent__section {
    display: inline-block;
    width: 30%;
    margin-left: 5%;
  }
  .main__consent-check {
    position: initial;
  }
  #footer {
    height: 8%;
    margin-top: 4%;
    padding: 1% 3%;
    width: 100%;
  }
  .footer__title {
    display: inline-block;
    color: #08A6E4;
    font-family: "Raleway";
    font-size: 26px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
    margin-bottom: 1%;
  }
  .footer__rights {
    color: #A5A5A5;
    font-family: "Open Sans";
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-content: center;
    display: block;
    margin-top: 0;
  }
  .footer__icon {
    float: right;
    margin-left: 2%;
    margin-top: 1.5%;
    flex-shrink: 0;
  }
}

/*# sourceMappingURL=style.css.map */
