@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

$color-web: #08A6E4;
$offer-basic-color: #FB3B64;
$offer-pro-color: #07ACE6;
$offer-premium-color: #55DFB4;
$contact-p-color: #A5A5A5;
$display-line-block: inline-block;
$family-raleway: 'Raleway';
$family-open-sans: 'Open Sans';
$blue-shadow: 5px 10px 27px 0px rgba(7, 172, 230, 0.29);
$scale-svg-img-1-5: scale(1.5, 1.5);
$scale-svg-img-2-5: scale(2.5, 2.5);
$scale-svg-img-2: scale(2, 2);
$scale-offer: scale(1.1, 1.1);

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    min-width: 320px;
}

#header{
    color: $color-web;
    width: 100%;
    height: 10%;
    box-shadow: 0px 3px 6px 0px #0000004A;
    margin-bottom: 100px;
}

.header__title,
.header__icon{
    display: $display-line-block;
    margin: 3% 6%;
}

.header__title{
    width: 50%;
    font-family: $family-raleway;
    font-weight: 300;
    font-size: 2em;
    line-height: 2.3em;
}

//icono de menu
.header__icon{
    width: 5%;
    height: 5%;
    margin-top: 5%;
    float: right;
    flex-shrink: 0;
}

//lista de menu
.header__list{
    display: none;
}


.header__element{
    margin: 10px 15px;
    color: black;    
    font-size: 11px;
    font-weight: bold;
}

.header__element-link{
    text-decoration: none;
}

#main{
    text-align: center;
}

.main__opening-section{
    width: 70%;
    margin: 10% 15%;
    text-align: center;
}


.opening__section-title{
    font-family: $family-raleway;
    font-size: 2.3em;
    font-weight: 400;
    line-height: 2.5em;
}

.opening__section-desc{
    font-family: $family-open-sans;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.4em;
    width: 90%;
    margin: 5% 5% 10%;
    flex-shrink: 0;
}

.opening__section-button-open-shop{
    width: 100%;
    height: 30%;
    background-color: $color-web;
    border: none;
    border-radius: 30px;
    box-shadow: 5px 10px 14px 0px #07ACE64A;
    padding: 5%;

    font-family: $family-open-sans;
    font-weight: 700;
    font-size: 1em;
    line-height: 1.3em;
    color: white;
}

.main__img{
    width: 100%;
    height: 20%;
    overflow: hidden;
    flex-shrink: 0;
}

.img__background{
    width: 200%;
    height: auto;
    display: block;
    transform: translateX(-25%);
}

.main__title-popularity{
    width: 70%;
    margin: 0% 15%;
    font-family: $family-raleway;
    line-height: 2.1em;
    font-weight: 300;
    font-size: 1.8em;
    flex-shrink: 0;
}

.main__data{
    width: 50%;
    height: 15%;
    margin: 5% auto;
    text-align: center;
}


.main__data-imgs{
    position: relative;
}

.data__ellipse{
    position: relative;
}

.data__icon-person{
    position: absolute;
    right: 29%;
}

.data__icon-eye{
    position: absolute;
    top: 20%;
    right: 20%;
}

.data__icon-catalog{
    position: absolute;
    top: 10%;
    right: 22%;
}

.data__number{
    font-family: $family-raleway;
    font-size: 1.25em;
    font-weight: 800;
    line-height: 1.5em;
    letter-spacing: .3em;
    width: 80%;
    margin: auto;
    margin-top: 10%;
}

.data__desc{
    color: #A5A5A5;
    font-family: $family-raleway;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.25em;
    width: 70%;
    margin: auto;
    flex-shrink: 0;
}

.main__articles{
    width: 100%;
    background-color: #F7F7F7;
    padding: 10%;
    margin-top: 20%;
}

.main__article{
    width: 90%;
    margin: 5% auto 0;
    padding-bottom: 0;
    background-color: white;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
    text-align: left;
}

.article__title{
    width: 80%;
    font-family: "Raleway";
    font-size: 1.8em;
    font-weight: 400;
    margin: 8% 4% 4%;;
}

.article__desc{
    font-family: $family-open-sans;
    font-size: 0.8em;
    font-weight: 400;
    line-height: 1.1em;
    margin: 5%;
}

.article__line{
    display: none;
}

.main__article-imgs{
    position: relative;
}

.article__recognition-img{
    width: 90%;
    margin: 0 auto;
    padding: 12% 16% 0 4%;;
    background-color: #55DFB4;
    border: 1px solid #E8E9ED;
    border-radius: 5px;
}

.article__ellipse{
    position: relative;
}

.article__always-ellipse{
    left: 50%;
}

.article__shop-ellipse{
    margin-top: 5%;
    left: 25%;
}

.article__always-img{
    position: absolute;
    z-index: 1;
    top: 25%;
    right: 15%;
}

.article__shop-img{
        position: absolute;
        z-index: 1;
        top: 15%;
        right: 10%;
}



.main__title-pricing{
    font-family: $family-raleway;
    font-size: 2.25em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 5%;
}

.main__offer{
    margin: 10% auto;
    padding: 2% 3%;
    flex-shrink: 0;
    position: relative;
    
}

.main__offer-basic:hover{
    box-shadow: 5px 10px 27px 0px $offer-basic-color;
    transform: $scale-offer;
    transition: transform 1s;
}

.main__offer-pro:hover{
    box-shadow: $blue-shadow;
    transform: $scale-offer;
    transition: transform 1s;
}

.main__offer-premium:hover{
    box-shadow: 5px 10px 27px 0px $offer-premium-color;
    transform: $scale-offer;
    transition: transform 1s;
}

.offer__model, .offer__adventages{
    display: inline;
}

.offer__model{
    float: left;
}

.offer__price{
    font-family: $family-open-sans;
    font-size: 2.8em;
    font-style: normal;
    font-weight: 300;
    line-height: 1em;
}

.offer__price-basic{
    color: $offer-basic-color;
}

.offer__price-pro{
    color: $offer-pro-color;
}

.offer__price-premium{
    color: $offer-premium-color;
}

.offer__adventages{
    float: right;
    text-align: left;
}

.adventage{
    position: relative;
    top: 30%;
    margin: 5%;
}

.offer__title{
    font-family: $family-raleway;
    font-size: 1.25em;
    font-weight: 700;
    line-height: 1.5em;
    font-style: normal;
}

.main__offer-basic{
    border: 1px solid $offer-basic-color;
    border-radius: 18px;
    height: 220px;
    .offer__adventages{
        width: 60%;
    }

    .adventage{
        margin-top: 10%;
    }

    .offer__model{
        margin-left: 8%;
        margin-top: 20%;
    }

    .offer__button-basic{
        background-color: $offer-basic-color;
        top: 92%;
        left: 25%;
    }
}

.main__offer-pro{
    border: 1px solid $offer-pro-color;
    border-radius: 18px;
    height: 220px;

    .offer__adventages{
        position: absolute;
        width: 60%;
        left: 48%;
        margin-left: 1%;
    }

    .offer__model{
        margin-left: .5%;
        margin-top: 20%;
    }

    .adventage{
        position: relative;
        top: 30%;
        margin: 10% 5%;
    }

    .offer__button-pro{
        background-color: $offer-pro-color;
        top: 92%;
        left: 25%;
    }
}

.main__offer-premium{
    border: 1px solid $offer-premium-color;
    border-radius: 18px;
    height: 220px;

    .offer__adventages{
        position: absolute;
        width: 60%;
        left: 48%;
    }

    .offer__model{
        margin-left: .5%;
        margin-top: 20%;
    }

    .adventage{
        position: relative;
        top: 30%;
        margin: 10% 5%;
    }

    .offer__button-premium{
        background-color: $offer-premium-color;
        top: 92%;
        left: 25%;
    }
}

.offer__button{
    width: 50%;
    height: 17%;
    border: none;
    border-radius: 23px;
    position: absolute;

    align-content: center;
    font-family: "Open Sans";
    font-size: 0.8em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: white;
}

.offer__limited{
    font-family: $family-raleway;
    font-size: 0.6em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.main__contact-data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    width: 80%;
    margin: 10%;
    
    color: $color-web;
    font-family: $family-open-sans;
    font-size: 0.6em;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.15em;
}

.main__contact-title{
    font-family: $family-raleway;
    font-size: 2.5em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    float: left;
    margin-left: 10%;
}

.main__contact-desc{
    font-family: $family-open-sans;
    font-size: 1em;
    font-style: normal;
    font-weight: 400;
    line-height: 1.3em;
    float: left;
    width: 75%;
    text-align: left;
    margin-left: 10%;
    margin-bottom: 10%;
}

.main__contact-forms{
    color: $contact-p-color;
    font-family: $family-open-sans;
    font-size: 1em;
    font-style: normal;
    font-weight: 600;
    line-height: 1.3em;
    display: block;
    float: left;
    margin-left: 10%;
    width: 75%;
    text-align: left;
}

.main__contact-forms-tel{
    margin-bottom: 15%;
}

.main__data-input{
    border: none;
    border-bottom: 1px solid #95989A;
    width: 100%;
}

.main__consent-check{
    position: absolute;
    left: 10%;
    border-radius: 4px;
    border: 1px solid #95989A;
}

.main__consent-content{
    display: inline-block;
    width: 70%;
    color: #707070;
    font-family: "Open Sans";
    font-size: 0.6em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
}

.main__consent-send{
    display: block;
    flex-shrink: 0;
    float: right;
    width: 40%;
    border: none;
    border-radius: 35px;
    background-color: $color-web;
    box-shadow: $blue-shadow;
    margin-top: 10%;
    margin-right: 10%;
    padding: 3%;

    color: white;
    font-family: $family-open-sans;
    font-size: 0.8em;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#footer{
    background: #F7F7F7;
    box-shadow: 0px -5px 40px 0px rgba(0, 0, 0, 0.20);
    height: 10%;
    margin: 40% 0 0;
    padding: 5%;
}

.footer__title,
.footer__rights{
    display: inline-block;
}

.footer__title{
    color: $color-web;
    font-family: $family-raleway;
    font-size: 1.6em;
    font-style: normal;
    font-weight: 300;
    line-height: 1.8em;
}

.footer__rights{
    color: $contact-p-color;
    font-family: $family-open-sans;
    display: block;
    margin-top: 2%;
    font-size: 0.6em;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-content: center;
}

.footer__icon{
    float: right;
    margin-left: 5%;
    margin-top: 1%;
    flex-shrink: 0;
}

//MOBILE VERSION MAX AND MIN WIDTH
@media only screen and (max-width: 1000px){

    .main__data{  
        max-width: 187.5px;
    }
    
    .main__article{
        max-width: 305px;
        //min-width: 377px;
    }

    .main__offer{
        max-width: 275px;
        min-width: 245px;
        
    }

    .article__recognition-img{
        max-width: 303px;
    }
}


//DESKTOP VERSION
@media only screen and (min-width: 1000px){

    body{
        min-width: 1525px;
    }
    //HEADER
    #header{
        width: 100%;      
    }

    .header__nav{        
        display: flex; 
        justify-content: space-between; 
    }

    .header__title{
        display: $display-line-block;
        margin: 1% 5%;
        width: auto;
    }

    .header__icon{
        display: none;
    }

    .header__list{
        display: initial;
        margin: 1% 5%;
    }

    .header__element{
        display: inline-block;
    }

    .header__element-link{
        text-decoration: none;
        color: $contact-p-color;
        font-family: $family-raleway;
        font-size: 2em;
        font-weight: 300;
        line-height: 2.3em;
        letter-spacing: 0.15em;
        text-transform: uppercase;
    }

    .header__element-link:hover{
        color: black;
    }

    .img__background{
        width: 107%;
        height: auto;
        display: block;
        transform: translateX(-3.5%);
    }

    //SECTION OPENING

    .main__opening-section{
        margin: 5% 15%;
    }

    .opening__section-title{
        font-family: $family-raleway;
        font-weight: 400;
        font-size: 3em;
        line-height: 3.5em;
    }

    .opening__section-desc{
        font-family: $family-open-sans;
        font-size: 1em;
        font-weight: 400;
        line-height: 1.3em;
        width: 90%;
        margin: 1% 5% 3%;
        flex-shrink: 0;
    }

    .opening__section-button-open-shop{
        width: 25%;
        border-radius: 40px;
        box-shadow: 5px 10px 14px 0px #07ACE64A;
        padding-top: 1%;
        padding-bottom: 1%;
    }
    

    .main__title-popularity{
        width: 70%;
        margin: 0% 15%;
        font-family: $family-raleway;
        line-height: 2.6em;
        font-weight: 400;
        font-size: 2.25em;
        flex-shrink: 0;
    }

    .main__data{
        max-width: 330px;
        display: inline-block;
        width: 20%;
        margin: 2% 2% 6%;
    }
    .data__icon-person{
        left: 49%;
    }

    .data__icon-eye {
        left: 47%;
    }

    .data__icon-catalog {
        left: 50%;
    }

//ARTICLES
    .main__articles{
        display: grid;
        grid-template-areas: 
            "always always always"
            "shop   shop   shop"
            "recog  recog  img"
            ;
        gap: 2%;
        margin-top: 0;
        padding: 5%;       
    }

    .main__article{
        height: 100%;
        max-width: 1353px;

        .article__title{
            font-size: 2.25em;
            line-height: 2.6em;
        }

        .article__desc{
            font-size: 1em;
            line-height: 1.3em;
        }

        .article__line{
            display: block;
        }
    }

    .main__article-always{
        grid-area: always;
        min-width: 1307px;
        .article__title-always{
            display: inline;
            margin-left: 0;
        };

        .main__article-imgs {
            position: relative;
            display: inline-block;
            left: 50%;
            top: 20%;
        }
        .article__always-img{
            transform: $scale-svg-img-2-5;
            right: -170%;
            top: 70%;
        };

        .article__always-ellipse{
            transform: $scale-svg-img-2-5;
            left: 250%;
        };

        .article__desc-always{
            display: block;
            width: 30%;
            margin-left: 10.5%;
            margin-top: 2%;
        };
        .article__line{
            border: 2px solid $offer-basic-color;
            width: 18%;
            margin-left: 10.5%;
        }
    }

    .main__article-shop{
        grid-area: shop;        
        min-width: 1307px;
        .article__title-shop{
            display: block;
            width: 18%;
            margin-left: 60%;
            margin-bottom: 2%;
            margin-top: 2%;
            line-height: 1.5em
        };

        .article__shop-img{
            transform: $scale-svg-img-2-5;
            right: 75%;
            top: 10em;
        };

        .article__shop-ellipse{
            display: inline-block;
            transform: $scale-svg-img-2-5;
            position: absolute;
            left: 10%;
            margin-top: 10%
        };

        .article__desc-shop{
            margin: 1%;
            width: 28%;
            margin-left: 60%;
        };
        .article__line{
            border: 2px solid #07ACE6;
            width: 20%;
            margin-left: 60%;
            margin-bottom: 3%;
        }
    }

    .main__article-recognition{
        display: inline-block;
        margin: 8% 7.5% 0;
        max-width: 800px;
        grid-area: recog;
        height: auto;

        .article__title-recognition{
            width: 35%;
            font-family: $family-raleway;
            font-size: 1.8em;
            font-weight: 400;
        };
    
        .article__desc-recognition{
            margin: 1% 3%;
            width: 40%;
        };
        .article__line{
            border: 2px solid $offer-premium-color;
            width: 30%;
            margin: 3%;
        }
    }
    .article__recognition-img{
        max-width: 400px;
        position: relative;
        top: 28%;
        right: 13%;
        padding: 25% 16% 0 4%;
        background-color: #55DFB4;
        border: 1px solid #E8E9ED;
        border-radius: 5px;
        grid-area: img;
    };

//CSS PARA LAS OFERTAS
    .main__offer{
        display: inline-flex;
        flex-direction: column;
        justify-content: space-around;
        width: 18%;
        height: auto;
        margin: 2.5%;
        min-width: 210px;
        max-width: 356px;
    }

    .main__title-pricing{
        line-height: 2.6em;
    }

    .adventage{
        font-size: 0.8em;
        line-height: 1.1em;
        font-weight: 400;
        font-family: 'Open Sans';
    }
    .main__offer-basic{
        .offer__title{
            display: block;
        }

        .offer__price{
            display: block;
        }

        .offer__adventages{
            height: auto;
            text-align: center;
            margin-top: 10%;

            .adventage{
                width: 175%;
                margin: 10% 5%;
            }
        }

        .offer__button{
            display: block;
            padding-top: 3%;
            padding-bottom: 3%;
            height: 10%;
            top: 95%;
        }

    }
        
    .main__offer-pro{
        .offer__title{
            display: block;
        }

        .offer__price{
            display: block;
        }

        .offer__adventages{
            position: initial;
            text-align: center;
            margin-top: 10%;

            .adventage{
                width: 175%;
                margin: 10% 5%;
            }
        }

        .offer__button{
            display: block;
            padding-top: 3%;
            padding-bottom: 3%;
            height: 10%;
            top: 95%;
        }

    }

    .main__offer-premium{
        .offer__title{
            display: block;
        }

        .offer__price{
            display: block;
        }

        .offer__limited{
            display: block;
        }

        .offer__adventages{
            position: initial;
            text-align: center;
            margin-top: 10%;

            .adventage{
                width: 175%;
            }
        }

        .offer__button{
            display: block;
            padding-top: 3%;
            padding-bottom: 3%;
            height: 10%;
            top: 95%;
        }

    }
    //CONTACT

    .info__section{
        display: inline-block;
        width: 30%;
        margin-bottom: 2%;
        min-width: 456px;
        max-width: 541px;
    }

    .main__contact-title{
        margin-top: 5%;
        font-size: 3em;
        line-height: 3.5em;
    }

    .main__contact-data{
        padding-top: 2%;
    }

    .main__contact-desc{
        display: block;
        margin-top: 4%;
        margin-bottom: 4%;
        width: auto;
        line-height: 1em;
    }

    .main__contact-forms{
        width: auto;
    }

    .main__contact-forms-tel{
        margin-left: 2%;
    }
    
    .consent__section{
        display: inline-block;
        right: 20%;
        width: 30%;
    }

    .main__consent-check{
        position: initial;
        transform: translate(-150%, -750%);
    }
 
    


    //FOOTER

    #footer{
        height: 8%;
        margin-top: 4%;
        padding: 1% 3%;
        width: 100%;
    }


    .footer__title{
        display: inline-block;
        color: $color-web;
        font-family: $family-raleway;
        font-size: 1.6em;
        font-style: normal;
        font-weight: 300;
        line-height: 1.8em;
        margin-bottom: 1%;
    }

    .footer__rights{
        color: $contact-p-color;
        font-family: $family-open-sans;
        font-size: 0.6em;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        align-content: center;
        display: block;
        margin-top: 0;
    }

    .footer__icon{
        float: right;
        margin-left: 2%;
        margin-top: 1.5%;
        flex-shrink: 0;
    }
}